/* Estilos generales */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 2.5rem;
}
.seccion-verde {
  color: white;
  background-color: rgb(111, 182, 4);
}
.seccion-clara {
  color: black;
  background-color: white;
}
.seccion-titulo {
  font-size: 2rem;
  padding: 30px 10px;
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  color: #001e1d;
  font-weight: bold;
}
.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}
.seccion-texto {
  font-size: 1.2rem;
  color: #0f3433;
}

.texto-negro {
  color: black;
}
.texto-blanco {
  color: white;
}

/* Barra de navegacion */

.navbar {
  padding: 0.5rem;
  background-color: #abd1c6;
}
.navbar-collapse {
  align-items: center;
  justify-content: start;
}
/* Adptable (responsivo) */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}
@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 15px;
  }
  .overlay i {
    font-size: 40px;
  }
}
/* Seccion principal */

.hero {
  background: #004643;
  min-height: 500px;
  text-align: center;
  padding-bottom: 10px;
}

.hero-principal {
  padding: 3rem;
  font-family: "Rubik Doodle Shadow", system-ui;
  color: black;
}
#hero-title {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}
#hero-side-title {
  font-size: 1.25rem;
  margin-bottom: 50px;
  color: #abd1c6;
}
#btn-hero {
  background-color: #f9bc60;
}
#btn-hero a {
  color: #001e1d;
}
#btn-hero:hover {
  background-color: white;
}
.img-logo-principal {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 65%;
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

.inferior-imagen {
  width: 90%;
  height: 800px;
  padding: 50px;
  border-radius: 9%;
}

/* Inicio - seccion*/

.inicio {
  height: 500px;
  background-color: #c3f0ca;
}

.inicio .contenedor {
  max-width: 900px;
  text-align: center;
}

/* Actividades - seccion */
.actividades {
  padding: 40px 40px 60px 40px;
  background-color: #004643;
}
.actividades .columna {
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}
.actividades .columna:hover {
  background-color: #e8e4e6;
  color: #0f3433;
}
.actividades-titulo {
  font: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.act-card-paragraph {
  color: black;
}
.actividades i {
  font-size: 2.5rem;
  color: #f9bc60;
  background-color: black;
  padding: 8px 19px;
  border-radius: 50%;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
.badge {
  margin: 5px;
}

/* Testimonios */

.testimonios-clientes {
  padding: 40px;
  background-color: #c3f0ca;
}

.testimonios-clientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.clientes-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}
.clientes {
  position: relative;
}
.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}
.clientes:hover img {
  opacity: 0.2;
}
.clientes:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 40px;
  margin: 40px;
}

/* Contacto */

.contacto {
  background-color: #e16162;
}
.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: #004643;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px #0f3433;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25rem 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}
.contacto button:hover i {
  color: black;
}

/* Pie de Pagina(Redes Sociales) */

footer {
  min-height: 500px;
  background-color: #004643;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 30px;
  color: #abd1c6;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px;
  margin: 10px 30px;
  border: 1px solid black;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: #e16162;
  font-size: 1.8rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(69, 228, 228);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #f9bc60;
  padding: 20px;
}
